body {
    padding: 0 2em;
    margin: 0 auto;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #3A3A3A;
    line-height: 1.6;
}
ul.posts {
    list-style-type: none;
    padding-left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}
ul.posts li:first-child {
    border-top: 1px solid #eee;
}
ul.posts li {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}
ul.posts .date {
    color: #CCC;
    display: inline-block;
    width: 90px;
}
ul.posts .arrow {
    position: absolute;
    right: 15px;
}
ul.posts a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    width: 100%;

    transition: All 1s ease;
    transform: translate(10px);
}
ul.posts a .arrow{
    transition: All 1s ease;
    transform: translate(0px);
}
ul.posts a:focus, ul.posts a:hover {
    text-decoration: underline;
}
ul.posts a .arrow {
    transition: All 1s ease;
    transform: translate(0px);
}
ul.posts a:focus .arrow, ul.posts a:hover .arrow {
    transform: translate(10px);
}
section, .comments {
    max-width: 650px;
    margin: 30px auto 0;
    position: relative;

}
article {
    margin-bottom: 30px;
}
.home-link {
    z-index: 1000;
    border-radius: 100px;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/home-icon.png");
}
.home .home-link {
    display: none;
}
h1 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.4em;
    margin: 0.7em 0 0.3em;
}
h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif
}
h2 {
    margin-top: 1.6em;
}
h1 a {
    color: #333;
    text-decoration: none;
}
a {
    color: #4871D4;
}
time {
    position: relative;
    top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #CCC;
}
pre {
    background: #eaeaea;
    font-size: 16px;
}
footer {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 11px;
    text-align: center;
}
img.me {
    border-radius: 100px;
    width: 160px;
    height: 160px;
}
img.me.small {
    width: 40px;
    height: 40px;
}
.about {
    text-align: center;
}
.about img.me {
    margin: 3em auto;
}



@media screen and (min-width: 870px) {
    pre {
        margin-left: -100px;
        width: 850px;
    }
}
@media screen and (max-width: 642px) {
    body {
        font-size: 0.875em;
    }
    ul.posts {
        font-size: 1em;
    }
    ul.posts span.date {
        display: none;
    }
}
