---
layout: default 
---
<article id="post" class="post">
  <time class="post" datetime="{{ page.date }}" itemprop="datePublished">
    {{ page.date | date: "%-d %b %Y" }}
  </time>
  <h1 class="article-title">
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>
  {{ content }}
</article>
<div id="disqus_thread" class="comments"></div>
{% include post_footer.html %}
<script>
  var disqus_shortname = 'neurodesign';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    document.getElementById('post').appendChild(dsq);
  })();
</script>
